<!-- <p>CRIS (Centre for Railway Information Systems) is an organization under Ministry of Railways. <br>
   CRIS is a unique combination of competent IT professionals and experienced Railway personnel enabling it to successfully deliver complex Railway IT systems in core areas. <br>
   Since its inception, CRIS is developing/maintaining softwares for the following key functional areas of the Indian Railways.
</p> -->



 <!-- <div class="wrapper">
  <div class="card">
      <img src="\assets\images\train3.jpg">
      <div class="descriptions">
          <p>
            CRIS (Centre for Railway Information Systems) is an organization under Ministry of Railways.
            CRIS is a unique combination of competent IT professionals and experienced Railway personnel enabling it to successfully deliver complex Railway IT systems in core areas.
            Since its inception, CRIS is developing/maintaining softwares for the following key functional areas of the Indian Railways.
          </p>
      </div>
  </div>
  --> 
  <!-- <div class="row">
   <div class="column">
     <div class="card">CRIS (Centre for Railway Information Systems) is an organization under Ministry of Railways.</div>
   </div>
 </div> -->

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
 <div class="card">
  <img src="\assets\images\train2.jpg"  style="width:100%" style="height:300px">
  <h5>CRIS (Centre for Railway Information Systems) is an organization under Ministry of Railways.</h5>
</div>
  </div>
  <br>
  <div class="col-md-4">
<div class="card">
  <img src="\assets\images\train3.jpg"  style="width:100%" style="height:250px">
  <h5>CRIS is a unique combination of competent IT professionals and experienced Railway personnel enabling it to successfully deliver complex Railway IT systems in core areas.</h5>
</div>
  </div>
  <br>
  <div class="col-md-4">
    <div class="card">
     <img src="\assets\images\train1.jpg"  style="width:100%" style="height:300px">
     <h5>Since its inception, CRIS is developing/maintaining softwares for the following key functional areas of the Indian Railways.</h5>
   </div>
     </div>
 </div>
 </div>
 
