<h2 align="center">ZONES IN DATABASE</h2>
<table align="center">
    <tr align="center">
    <th>SNO</th>
    <th>ZONE CODE</th>
    <th>ZONE NAME</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td><a href="\assets\division\div1.html">ECOR</a></td>
        <td>EAST COAST RAILWAY</td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td><a href="\assets\division\div2.html">ER</a></td>
        <td>EASTERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td><a href="\assets\division\div3.html">KRCL</a></td>
        <td>KONKAN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td><a href="\assets\division\div4.html">NCR</a></td>
        <td>NORTH CENTRAL RAILWAY</td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td><a href="\assets\division\div5.html">NER</a></td>
        <td>NORTH EASTERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>6</td>
        <td><a href="\assets\division\div6.html">NFR</a></td>
        <td>NORTH FRONTIER RAILWAY</td>
    </tr>
    <tr align="center">
        <td>7</td>
        <td><a href="assets\division\div7.html">NR</a></td>
        <td>NORTHERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>8</td>
        <td><a href="assets\division\div8.html">NWR</a></td>
        <td>NORTH WESTERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>9</td>
        <td><a href="assets\division\div9.html">PR</a></td>
        <td>PAKISTAN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>10</td>
        <td><a href="assets\division\div10.html">SECR</a></td>
        <td>SOUTHEAST CENTRAL RAILWAY</td>
    </tr>
    <tr align="center">
        <td>11</td>
        <td><a href="assets\division\div11.html">SCR</a></td>
        <td>SOUTH CENTRAL RAILWAY</td>
    </tr>
    <tr align="center">
        <td>12</td>
        <td><a href="assets\division\div12.html">SER</a></td>
        <td>SOUTH EASTERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>13</td>
        <td><a href="assets\division\div13.html">SR</a></td>
        <td>SOUTHERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>14</td>
        <td><a href="assets\division\div14.html">SWR</a></td>
        <td>SOUTH WESTERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>15</td>
        <td><a href="assets\division\div15.html">WCR</a></td>
        <td>WEST CENTRAL RAILWAY</td>
    </tr>
    <tr align="center">
        <td>16</td>
        <td><a href="assets\division\div16.html">WR</a></td>
        <td>WESTERN RAILWAY</td>
    </tr>
    <tr align="center">
        <td>17</td>
        <td><a href="assets\division\div17.html">BR</a></td>
        <td>BANGLADESH RAILWAY</td>
    </tr>
    <tr align="center">
        <td>18</td>
        <td><a href="assets\division\div18.html">CPT</a></td>
        <td>KOLKATA PORT TRUSTRAILWAY</td>
    </tr>
    <tr align="center">
        <td>19</td>
        <td><a href="assets\division\div19.html">DFCR</a></td>
        <td>DEDICATED FREIGHT CORRIDO</td>
    </tr>
    <tr align="center">
        <td>20</td>
        <td><a href="assets\division\div20.html">CP</a></td>
        <td>CHENNAI PORT TRUSTRAILWAY</td>
    </tr>
    <tr align="center">
        <td>21</td>
        <td><a href="assets\division\div21.html">CR</a></td>
        <td>CENTRAL RAILWAY</td>
    </tr>
    <tr align="center">
        <td>22</td>
        <td><a href="assets\division\div22.html">ECR</a></td>
        <td>EAST CENTRAL RAILWAY</td>
    </tr>
</table>