.top-menu {
    /* background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */
    color: white;
    background-color: #0cbaba;
    /* background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
    background-image: linear-gradient(315deg, #21369F 0%, #21369F 74%);

    /* background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); */


  }

    #paths {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;

    }
  
    #paths td,
    #paths th {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    #paths tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    #paths tr:hover {
      background-color: #ddd;
    }
  
    #paths th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }

    .display-container{
      margin-left: 5%;
      margin-right: 5%;
    }