<style>
    body, html {
      height: 100%;
      margin: 0;
      /* font-family: Arial, Helvetica, sans-serif; */
    }
    
    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/home1.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    
    .hero-text button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;
    }
    
    .hero-text button:hover {
      background-color: #555;
      color: white;
    }
    </style>

<div class="hero-image">
    <div class="hero-text">
      <h1 style="font-size:50px">MULTI LAP JOURNEY PLANNER</h1>
      <p>An application for finding train routes</p>
      <button routerLink="/findroute" routerLinkActive="active">Find Route</button>
    </div>
</div>

<!-- <div class="wrapper">
  <div class="card">
      <img src="\assets\images\train1.jpg">
      <div class="descriptions">
          <h1>169 Years Old!</h1>
          <p>
            The Indian railways came into existence long back in 1853 on 16 April. Its first passenger train ran between Mumbai’s Bori Bandar to Thane, covering 34 kilometres. The train was operated by three locomotives called Sahib, Sultan and Sindh. The train had 30 wagons. 
          </p>
           <button>
              Play trailer on YouTube
          </button>
      </div>
  </div>
  <div class="card">
      <img src="">
      <div class="descriptions">
          <h1>Equalizer 2</h1>
          <p>
              If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.                </p>
          <button>
              <i class="fab fa-youtube"></i>
              Play trailer on YouTube
          </button>
      </div>
  </div>
</div>
 -->

